/* 
to do tomorrow:
make the width of the header the same
when sticky class is applied and
when it is not
*/


body {
  margin: 0;
  font-family: Montserrat, Helvetica, sans-serif;
}

/*
#page-wrap {
  max-width: 1000px;
  display: block;
  box-sizing: border-box;
}
*/

.greeting {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.top-container {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-top: 200px;
  padding-left: 10%;
  padding-right: 12%;
  padding-bottom: 200px;
  text-align: left;
}

#college-intro {
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.6;
}

a:hover {
  color: inherit;
  opacity: 0.4;
}

.active-link {
  /*padding: 1px;
  border-bottom: 2px solid white;*/
}

/*
#orange-text {
  color: #ff7619;
}
*/

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255,255,255,0.9);
  /*
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  */
  color: #f1f1f1;
  /*max-width: 360px;*/
}

ul {
  list-style: none;
  /*background-color: blue;*/
  padding-left: 10%;
  padding-right: 10%;
}

ul li {
  /*background-color: red;*/
  color: black;
  display: inline;
  margin-right: 15px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 110px;
}

.feature-image {
  width: 50%;
}

.title-img {
  width: auto;
  height: 600px;
}

.right-name {
  float: right;
}

.content {
  padding-left: 10%;
  padding-top: 36px;
  padding-right: 10%;
}

.right {
  float: right;
  width: 40%; 
}

.read-more {
  font-family: Lato; 
  font-weight: 700;
  padding: auto;
}

.left {
  width: 20%;
  float: left;
  padding-top: 0px;
}

.middle {
  width: 40%;
  float: left;
  font-family: Lato; 
  font-weight: 100;
  padding: auto;
}

.feature-image {
  float: right;
}

.project {
  margin: 10% 0% 10% 0%;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.1);
}


#footer {
  margin-top: 10%;
  padding: 50px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

#footer-text {
  text-align: center;
}

/*
Color Changing Animation. Thanks to Rasin Zakaria! 
*/

.awesome { 
    font-weight: 800;           
      color:#ff7619;
      -webkit-animation:colorchange 3s infinite alternate;
      
      
    }

@-webkit-keyframes colorchange {
      0% {
        
        color: #d7acd4;
      }
      
      10% {
        
        color: #e88d5d;
      }
      
      20% {
        
        color: #d291bc;
      }
      
      30% {
        
        color: #a3f3eb;
      }
      
      40% {
        
        color: #db3951;
      }
      
      50% {
        
        color: #00136c;
      }
      
      60% {
        
        color: #a74faf;
      }
      
      70% {
        
        color: #ff5da2;
      }
      80% {
     
        color: #a1c45a;
      }
      
      90% {
     
        color: #fbb901;
      }
      
      100% {
        
        color: pink;
      }
    }

#letter-spacing-full-stop {
  letter-spacing: 2px;
}