/*
Prachi's CSS Media Queries
*/


@media screen and (max-width: 1024px) {
.project-text {
	padding: 0px;
  	width: 50%;
  	margin-bottom: 0.3em;
}

.project-title {
	font-size: 1.4em;
	margin-bottom: 0.7em;
	margin-top: 0em;
}

.project-tags {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.project-feature-image {
	width: 40%;
	float: right;
	height: 198px;
	width: auto;
	border-radius: 5px;
}

}

@media screen and (max-width: 1024px) {
.project-text {
	padding: 0px;
  	width: 50%;
  	margin-bottom: 0.3em;
}

.project-title {
	font-size: 1.4em;
	margin-bottom: 0.7em;
	margin-top: 0em;
}

.project-tags {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.project-feature-image {
	width: 30%;
	float: right;
	height: 150px;
	width: auto;
	border-radius: 5px;
}

.project-description {
	display: none;
}

.read-more {
	display: inline-block;
}

}

@media screen and (max-width: 425px) {
.top-container {
	padding-top: 180px;
}

.project-text {
	padding: 0px;
  	width: 100%;
  	margin-bottom: 0.3em;
}

.project-title {
	font-size: 1.4em;
	margin-bottom: 0.7em;
	margin-top: 0em;
}

.project-tags {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.container {
	position: absolute;
	top: 60%;
	left: 0;
	margin-top: 100px;
	margin-left: 10px;
	width: 100%;
}

.project-feature-image {
	width: 173px;
	margin-right: auto;
	margin-left: auto;
	height: 160px;
	float: none;
	border-radius: 5px;
}

.project-description {
	display: inline-block;
}

.read-more {
	display: none;
}
}


@media screen and (max-width: 1100px) {
.top-container {
	padding-top: 180px;
}
