body {
	font-family: Montserrat, Arial, Helvetica, sans-serif;  
 	color: rgba(0, 0, 0, 0.6);
	margin: 0;
  padding-top: 170px;
}
  

.container-fluid {
	max-width: 1300px;
  /* padding-left: 50px; */
  padding-right: 0px; 
}

.image {
  width: 250px;
}

.row {
  margin:0px;
}

.blog-title {
  background-color:#f2ddff; 
  padding: 30px 30px 10px 20px;
}

.blog-content {
  margin-left: 20px; 
  margin-right: 20px;
}

.top-itb {
  margin-bottom: 10px;
}

.blog-itb-preview-image {
  padding:0px 20px 0px 0px;
}

.blog-page {
  padding-top: 30px;
}


@media only screen and (max-width: 768px) {
  .intro {
  max-width: 350px;
  }
  

  .image {
    width: 100%;
  }

  .container-fluid {
    padding-left: 0px; 
  }
}



.intro {
  max-width: 550px;
  padding-left: 30px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 430px) {
  .intro {
  padding-right: 20px;
  }
}


.card {
  box-shadow: 0px 0px 12px 2px #00000020;
  border-radius: 5px; 
  border-color: #ffffff;
  padding: 0px;
  margin: 25px;
  max-width: 330px;
/* height: 300px; */
}
    
.card-top {
  min-height: 228px;
  padding: 20px;
  text-decoration: none;
}

.card-bottom {
  margin-bottom: 0px;
  padding: 20px; 
/* height: 88px; */
  /* 
  position: absolute;
  bottom: 0px; */
/*  border-top: 1px solid #00000020; */


/* display:table-cell;
    position:relative;
    vertical-align:bottom; */
}

.arrow {
  border: solid #00000040;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.test {
  opacity: 0.4;
  max-height: 40px;
}

.card:hover .test{
    opacity: 1;
}

@media only screen and (max-width: 768px) {
  .yesmobile {
    display: block !important;
  }
  .nomobile {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .yesmobile {
    display: none !important;
  }
  .nomobile {
    display: block !important;
  }
}


h1 {
  font-weight: 800;
 	color: rgba(0, 0, 0, 1);	
}

h2 {
  font-size: 100;
  font-weight: 800;
 	color: rgba(0, 0, 0, 1);	
}

h6 {
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 400;
}

.btn {
  background-color: #ffffff;
  border-color: #D79AFF;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
}

.btn:hover{
  background-color: #D79AFF;
  color: #000000;
}

.btn:focus {
  background-color: #ffffff;
  border-color: #D79AFF;
}

.title {
	color: rgba(0, 0, 0, 1);
	font-weight: 768;
  font-size: 1.2em;

}

.subsection {
  margin-top:50px;
}
.tags {
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.7);
}

.blog-images {
  width: 100%;
}

.content {
  color: rgba(0, 0, 0, 0.9);  
  font-size: 0.9em;
  line-height: 100%;
}

a {
	color: rgba(0, 0, 0, 1);
  /*font-weight: 500;  */
}

a:hover {
  /* /* -webkit-animation:colorchange 8s infinite;
    animation: colorchange 8s infinite; */
    text-decoration: none; 
}

.underline-link:hover {
  text-decoration: underline;
  text-decoration-color: #D79AFF;
  color: #000000;
  text-underline-offset: 2px;
  text-decoration-thickness: 4px ;
}


.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.awesome { 
    font-weight: 800;           
    color:#ff7619;
    -webkit-animation:colorchange 8s infinite;
    animation: colorchange 8s infinite;
      
    }

@-webkit-keyframes colorchange {
      0% {
        
        color: #001dff;b
      }
      
      10% {
        
        color: #b200ff;pu
      }
      
      20% {
        
        color: #ff00e1;pi
      }
      
      30% {
        
        color: #b200ff;
      }
      
      40% {
        color: #00faff;lb
      }
      
      50% {
        color: #00ff61;lg
      }
      
      60% {
        color: #2eff00;lg
      }
      
      70% {
        
        color: #d0ff00;yg
      }
      80% {
     
        color: #b200ff;rp
      }
      
      90% {
     
        color: #ff4300;r
      }
      
      100% {
        
        color: #009dff;gb
      }
    }



 